<%-include('partials/header')-%>
<h1>Compose</h1>
<form action = '/compose' method = "post">
<div class = "form-group">
<b>Title</b><br><input class = "form-control"type = "text" name ="postTitle"/>
<b>Post</b><br><textarea class = "form-control"name="postData" rows="5" cols="30"></textarea>
</div>
<button type = "submit" name = "submit" class = "btn btn-primary">Publish</button>
<%-include('partials/footer')-%>
